{% extends "base.html" %}
{% block body %}
    <h1>Department List</h1>
    <table>
        <tr>
            <th>
                Department
            </th>
            <th>
                President
            </th>
            <th>
                Active Members
            </th>
        </tr>
        {% for d in departments %}
            <tr>
                <td>
                    <a href="/d/{{d.name}}">{{d.name}}</a>
                </td>
                <td>
                    {{d.p}}
                </td>
                <td>
                    {{d.count}}
                </td>
            </tr>

        {% endfor %}
    </table>

{% endblock %}
