{% extends "base.html" %}
{% block body %}
    <div class="container">
        <h1>Hello,
            {{user.firstName}}</h1>
        <!-- <div id="profile"> -->
        <div id="upcomingEvents" class="panel">
            <h2>Upcoming Events</h2>
            <div class="event-overview-container">
                Nothing Yet.
            </div>
        </div>

        <div id="applications" class="panel">
            <h2>Applications</h2>
            <div class="event-overview-container">
                Nothing Yet.
            </div>
        </div>

        <div class="panel">
            <h2>Status</h2>
            <table id="statusTable">
                <tr>
                    <th>
                        Department
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Level
                    </th>
                </tr>
                {% for d in user.department%}
                    <tr>
                        <td>
                            {{d.dept}}
                        </td>
                        <td>
                            <span class="dept-tag status-text-{{d.status}}">{{d.status}}
                            </span>
                        </td>
                        <td>
                            {{d.level}}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
    {% endblock%}
